.gallery {
  margin: 5px;
  float: left;
  width: 22%;
  border: 1px solid gray;
}

.gallery:hover {
  border: 1px solid #777;
  box-shadow: 5px 10px 20px gray;
}

img {
  width: 100%;
  height: auto;
}

.gallery:hover {
  transition: 1.8;
  transform: scale(1.5);
}
.desc {
  padding: 15px;
  text-align: center;
}
